:root {
    --primary-color: #ffbe33;
    --white-color:#FFFFFF;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header__section-height:89.2px;
    --height-input:50px;
    --header__slider-height:277px;
}   

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.common-padding {
    padding: 90px 0;
}

.common-padding__bottom {
    padding-bottom: 90px;
}

.common-margin {
    margin-bottom: 30px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 12px 45px;
    border: none;
    border-radius: 45px;
    transition: all 0.3s;
    display: inline-block;
}

.transition-all:hover {
    transition-delay: 0;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: #e69c00;
}

@keyframes fadeIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}