body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.checkout-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 15px;
}

.user-info, .product-info, .payment-method {
    margin-bottom: 20px;
}

.user-info div, .payment-method {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.product_image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

#confirmOrderButton {
    padding: 10px 20px;
    background-color: #ffbe33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirmOrderButton:hover {
    background-color: #e69c00;
}
