body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*chiếm toàn bộ chiều cao của của sổ*/
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color:#e7b45a;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e7b45a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e7b45a;
}

p.register-link {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

p.register-link a {
    color: #e7b45a;
    text-decoration: none;
    font-weight: 500;
}

p.register-link a:hover {
    text-decoration: underline;
}

p#serverResponse {
    margin-top: 15px;
    color: #d9534f; /* Màu đỏ nhẹ để hiển thị lỗi */
    font-size: 14px;
}